.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #344966;
    color: #fff6ec;
    height: 4rem;
    position: relative;
    top: 4.5rem;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    text-decoration: none;
    transition: transform 0.2s;
}

.navbar-left .nav-links,
.navbar-center .nav-links,
.navbar-right .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-left .nav-links li,
.navbar-center .nav-links li,
.navbar-right .nav-links li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar .nav-links a:hover {
    transform: scale(1.07);
    color: white;
}

.navbar .nav-links a:active {
    font-weight: bold;
}